debian-live/config/includes.chroot/opt
eclipse*.gz
.vagrant/
live-image-amd64.hybrid.iso
pycharm-*.tar.gz
liclipse_*.tar.gz
microsoft-2025.asc
debian-live/config/includes.chroot/etc/apt/trusted.gpg.d
debian-live/config/includes.chroot/opt/*
debian-live/config/includes.chroot/usr/share/applications/*.desktop
!debian-live/config/includes.chroot/usr/share/applications/Kattis.desktop
*.iso
eclipse.tgz
