[Desktop Entry]
Version=1.0
Type=Application
Name=Eclipse C++
Comment=
Icon=/home/user/eclipse/cpp-2025-09/eclipse/icon.xpm
Exec=/home/user/eclipse/cpp-2025-09/eclipse/eclipse
