[Desktop Entry]
Version=1.0
Type=Application
Name=Eclipse Java
Comment=
Icon=/home/user/eclipse/java-2025-09/eclipse/icon.xpm
Exec=/home/user/eclipse/java-2025-09/eclipse/eclipse
